nav.stripped-bg{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; */
  background: repeating-linear-gradient(
    -45deg,
    #c2e0a2 1px,
    #c2e0a2 1px,
    rgba(0, 0, 0, 0) 4px,
    rgba(0, 0, 0, 0) 8px
  );
}
